.feedback {
  padding-bottom: 10px;

  letter-spacing: 0.1px;

  color: rgba(31, 48, 31, 0.8);

  font-size: 14.5px;
  font-weight: 500;
}

.feedback_error {
  color: rgba(204, 255, 110, 0.85);
}

.feedback_instructions {
  color: rgba(31, 48, 31, 0.8);
}
